#root, html {
  /*max-width: 1280px;
  margin: 0 auto;
  padding: 24px 32px;
  text-align: center;*/
  background-color: #FAF5EA; 
  color: black;
  /*font-family: 'Times New Roman', Times, serif;*/
}


.icon {
  display: flex; /* Ensures proper alignment */
  justify-content: center;
  align-items: center;
  width: 48px; /* Must be same as height for a perfect circle */
  height: 48px;
  background-color: black; /* Black background */
  border-radius: 50%; /* Makes it fully circular */
}

.audio-card .icon {
  background-color: #60489C;
}


.icon img {
  width: 32px; /* Smaller to fit inside */
  height: 32px;
  border-radius: 50%; /* Ensures image is circular */
  object-fit: contain; /* Keeps entire image visible */
  
}


button {
  padding: 16px;
  width: fit-content;
  border-radius: 10px;
  border-width: 0px;
  
  /*button for tick tally*/
  /* transform: translate(0%, 250%);  */
}
