#root, html {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 32px;
  text-align: center;
  background-color: #FAF5EA;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.icon {
  border-radius: 100%;
}

button {
  padding: 16px;
  width: fit-content;
  border-radius: 10px;
  border-width: 0px;
}

@media only screen and (max-width: 600px) {

}