.bottomSprinkles{
    position: fixed; 
    width: auto; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    bottom: 0;
    z-index: 1000; /*sends them behind */ 
    pointer-events: none; /*AAAAAAAAA i was stuck having my button blocked for hours */
    /*right now they are above the overlay for disclaimer but i kind like it*/
  }
  .left-sprinkle{
    left: 0;
    transform: translate(-90%, 10%); /* adjust into the corner */
  
  }
  .right-sprinkle{
    right: 0;
    transform: translate(180%, 10%); /* adjust into the corner */
  }

  @media (max-width: 700px) { /* Adjust for smaller screens */
    
    /*make the sprinkles more visible on smaller screen!!*/
    .bottomSprinkles{
      transform: scale(1.0);
      transform-origin: bottom left; /* Ensures it scales from the bottom left */
      position: fixed; /* Keeps it in place */
  
    }
    .left-sprinkle{
      left: 0;
      transform: translate(-28%, 5%); /* adjust into the corner */
    
    }
    .right-sprinkle{
      right: 0;
      transform: translate(117%, 5%); /* adjust into the corner */
    }
    .other-reg-desc {
      transform: translate(30%, 10%);
    }
    .form-buttons{
      transform: translate(5%, 10%);
    }
    .popup-box{
      transform: translate(-42%, -60%);
    }
    .popup-overlay{
      transform: translate(-20%, -20%);
  
    }
  
  }