:root {
  --letter-unselected-background: #1F7E8E;
  --letter-selected-background: rgb(205, 249, 253);
}

.letter-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 15px;
  justify-content: center;

  transform: translate(40%, 0%);
}

.letter-box {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: var(--letter-unselected-background);
  padding: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  
}

.letter-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  color: #F9F5EB;
}
.drop-box-container {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -150px; /* Adjust positioning */
  
}
.drop-box {
  margin-right: -430px;
  display: flex;
  width: 90px;
  height: 90px;
  
  background-color: #F9F5EB;
  padding: 0px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 4px dashed grey;
  transform: translate(0%, 0%); /*TODO need to move the drop box over but idk can get it over this much then it registers wrong */

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  color: #F9F5EB;
  
}


.snap-done-btn{
    background-color: #60489C;
    color: white;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    border-radius: 20px;
    padding: 20px 56px;
    left: 50%;
    bottom: -15%;
}


/* Free movement for dragged elements */
.dragging {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.8;
  background-color: var(--letter-selected-background);
  border: 4px dashed black;
  transform: scale(1.1);
  z-index: 999;
}

/* Change the background when letter is dragged */
.letter-box.dragged {
  background-color: #f0f0f0; 
}

/* Change the background of the drop box when occupied */
.drop-box.occupied {
  background-color: #d3f8d3; 
}

.horizontal-flex {
  display: flex;
  justify-content: center; /* Ensures even spacing */
  gap: 10px; /* Adjust spacing between drop zones */
}