.title {
  /*position: relative;*/
  position: absolute;
  top: 476px; /*set the position y:476 since figma has the sprinkles*/
  left: 50%; /*center title horizontally*/
  transform: translateX(-50%); /*adjust to centre*/
  font-size: 100px;
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  width: 541px;
  height: 121px;
}

.login-button {
  position: absolute;
  top: 999px;
  left: 121px;
    width: 275px;
    height: 93px;
    padding: 28px 75px;
    background: #6447A1;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-family: Lexend, sans-serif;
    font-weight: 700;
    color: white;
    word-wrap: break-word;
    text-align: center;
  }
  
  /*.login-button:hover {
    background: #533A86; 
  }*/
  .register-button {
    position: absolute;
    top: 999px;
    left: 440px;
    width: 283px;
    height: 93px;
    padding: 28px 75px;
    background: #1F7E8E;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-family: Lexend, sans-serif;
    font-weight: 700;
    color: white;
    word-wrap: break-word;
    text-align: center;
  }
  
  /*.register-button:hover {
    background: #186673; 
  }*/
  
  
