/* style for nab-bar component */
/*TODO this is def off...*/
.nav-container{
    box-sizing: border-box;
    position: fixed;/*TODO keep at top even if scroll??*/

    width: 100%;/*go across the entire page*/
    height: 7.2%; /*the height of the bar*/

    background: #F9F5EB;
    border-bottom: 2px solid #959595;

    display: flex; /* Makes it responsive */
    
    align-items: center; /* Centers items vertically */
    
    z-index: 1000; /*make sure it is infront of everything*/
}
.LumoLearn{
    /* LumoLearn */
    position: inherit;

}
.logo{
    position: inherit;
    left: 90%;
}
