

.vertical-flex {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: fit-content;
    justify-self: center;
}

.horizontal-flex {
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
    justify-self: center;
}