/*TODO not sure if can delete*/

.vertical-flex {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: fit-content;
    justify-self: center;
}

.horizontal-flex {
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
    justify-self: center;
}

.title-font {

    font-family: lexend, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #60489C;
}

.audio-card {
    display: flex;
    gap: auto;
    align-items: justify;
    width: auto;
    background-color: white;
    padding: 10px;
    border-radius: 18px;
}

.audio-card p {
    width: 24ch;
    color: #60489C;
    font-size: 16px;
}

.sound-slider {
    width: 400px;
    height: 160px;
    padding: 16px;
    background-color: #60489C;
    border-radius: 25px;
    border: #DF7C64 solid 4px;
}

.tick-tally-slider {
    width: 300px;
    margin: auto;
}

.tick-tally-slider-track {

    top: 8px;
    height: 8px;
    background: white;
}

.tick-tally-slider-track.tick-tally-slider-track-0 {
    background-color: orange;
}

.tick-tally-slider-thumb {
    cursor: pointer;
    background-color: orange;
    width: 20px;
    height: 40px;
    top: -5px;
}

.tick-tally-slider-mark {
    cursor: pointer;
      top: 6px;
      width: 1.5px;
      height: 8px;
      background-color: green;
}
