#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  
#root {
  background-color: orange; /* tester color to verify that media query is working */
}

}